body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 300px;
}

h1, h2 {
    margin-bottom: 10px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #8000ff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a000ff;
}

#cart-items {
    margin-top: 10px;
}

#cart-total {
    margin-top: 10px;
    font-weight: bold;
}

.hidden {
    display: none;
}

#checkout-btn {
    width: 25%;
    padding: 10px;
    background-color: #6200EA;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s;
}

#checkout-btn:hover {
    background-color: #6200ff;
}

#cart-total {
    text-align: right;
}